$background: #313131;
$text: #313131;
$text-muted: rgba(#313131, 0.6);
$text-inverse: #ffffff;
$text-inverse-muted: rgba(#ffffff, 0.6);

$primary: #339af0;
$primary-muted: rgba(#339af0, 0.2);
$error: #e24e4e;
$error-muted: rgba(#e24e4e, 0.2);

$panel: #f0ecec;
$dark: rgba(#000000, 0.2);
$darker: rgba(#000000, 0.4);
$light: rgba(#ffffff, 0.2);
$lighter: rgba(#ffffff, 0.4);
