@import 'colors';

html {
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;

  &:focus {
    outline: none;
  }
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 1.6rem;
  color: $text;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
}

p {
  font-size: 1.6rem;
}

div.alert {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem 1rem;
  border-radius: 5px;

  img {
    width: 5rem;
  }

  &.warn {
    color: $warn;
    background-color: $warn-muted;
  }
  &.error {
    color: $error;
    background-color: $error-muted;
  }

  button {
    margin-left: auto;
  }
}

button {
  cursor: pointer;
  font-family: 'Outfit', serif;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 99px;
  background-color: #00000070;

  transition: all 0.3s;

  text-transform: uppercase;
  letter-spacing: 1px;

  display: flex;
  align-items: center;
  gap: 0.4rem;

  &:hover {
    background-color: #00000090;
  }

  &:active {
    background-color: #00000095;
  }

  &.button-close {
    padding: 0;
    margin: 0;
    color: currentColor;
    background-color: transparent;
  }
}

button.link {
  background-color: transparent;
  color: $text-muted;
  border-radius: 0;
  padding: 0;
  text-transform: none;
  letter-spacing: 0.6px;

  &:hover {
    background-color: transparent;
    color: $text;
  }

  &:active {
    background-color: transparent;
  }
}

::selection,
::-moz-selection {
  background: $primary-muted;
}

pre {
  user-select: text;
  color: $text;
  font-family: 'Inconsolata', monospace !important;
  white-space: pre-wrap;
  font-size: 1.2rem;
  line-height: 2rem;
}

div.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  color: $text-muted;
}

input[type='text'],
input[type='password'] {
  user-select: auto;
  font-family: 'Outfit', serif;
  height: 3.2rem;
  padding: 0 1.2rem;
  border: 1px solid $text-muted;
  background-color: $lighter;
  border-radius: 5px;
  transition: all 0.3s;
  color: $text;

  &::placeholder {
    opacity: 1;
    color: $text-muted;
    font-style: italic;
  }

  &:hover {
    border: 1px solid $primary;
  }

  &:focus {
    border: 1px solid $primary;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.checkbox {
  cursor: pointer;
  display: flex;
  width: fit-content;
  gap: 0.4rem;
  align-items: center;
  transition: all 0.3s;
  color: $text-muted;
  opacity: 0.8;

  .icon-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6rem;
    height: 1.6rem;
    color: white;
    border-radius: 3px;
    background-color: $dark;
    font-size: 1rem;
  }

  .icon-frame.checked {
    background-color: $primary;
  }

  &:hover {
    opacity: 1;
  }
}

li {
  list-style: none;
}

.h-group {
  display: flex;
  gap: 0.8rem;
}

.v-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.panel {
  padding: 2rem;
  // background-color: var(--dark);
  border: 1px dashed $darker;
}

.text-center {
  text-align: center;
}

.center {
  justify-content: center;
  align-items: center;
}

.fa-solid {
  font-size: 1.6rem;
  color: $primary;
}

.hidden {
  display: none !important;
}

.muted {
  opacity: 0.4;
}
