/* rem and em do NOT depend on HTML font-size in media queries 
instead, 1rem = 1em = 16px */

/* rem has some bugs in some browsers when used in media
 queries, so use em */

/**************************************/
/* M -- BELOW 992 */
/**************************************/

/* 992px / 16px = 62 */
@media (max-width: 62em) {
  .home {
    .home-container {
      .home-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .home-panel {
    aspect-ratio: 2;
    &.big {
      aspect-ratio: 4;
    }
  }
}

/* 600px / 16px = 40 */
@media (max-width: 40em) {
  button {
    padding: 1rem 2rem;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      span {
        display: none;
      }
    }
  }

  .home {
    .home-panel-content > p.title {
      display: none;
    }
    .home-container {
      .home-grid {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .home-panel {
    aspect-ratio: 3;
    &.big {
      aspect-ratio: 3;
      grid-column: span 1;
      grid-row: span 1;
    }
  }
}
