@import 'colors';

.shop-collection {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    li.shop-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3);
      overflow: hidden;

      .shop-card-body {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        img {
          width: 10rem;
        }
      }

      .shop-card-footer {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: $primary-muted;
        color: $primary;
      }

      .price-box {
        display: flex;
        width: 100%;
        padding-top: 1rem;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        color: $text-muted;

        img {
          width: 2rem;
        }
      }
    }
  }
}
