:root {
  --background: #fafafa;
  --text: #212121;
  --text-muted: #21212160;
  --primary: #339af0;
  --primary-muted: #339af020;
  --dark: #00000010;
  --darker: #00000020;
  --light: #ffffff10;
  --lighter: #ffffff20; }

html {
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--background); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid transparent; }
  *:focus {
    outline: none; }

body {
  font-family: 'Outfit', sans-serif;
  font-size: 1.6rem;
  color: var(--text);
  width: 96rem;
  margin: 2rem auto; }

p {
  font-size: 1.6rem; }

h1 {
  font-size: 2.4rem; }

h2 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300; }

button {
  cursor: pointer;
  font-family: 'Outfit', serif;
  height: 3.2rem;
  padding: 0 1.2rem;
  border-radius: 5px;
  background-color: var(--primary);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 5px 0px;
  transition: all 0.3s;
  opacity: 0.8;
  display: flex;
  align-items: center;
  gap: 0.4rem; }
  button:hover {
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px 0px; }
  button:active {
    box-shadow: rgba(0, 0, 0, 0) 0px 3px 5px 0px;
    opacity: 1; }

pre {
  color: var(--text);
  font-family: 'Inconsolata', monospace !important;
  white-space: pre-wrap;
  font-size: 1.6rem;
  line-height: 2rem; }

input[type='text'] {
  font-family: 'Outfit', serif;
  height: 3.2rem;
  padding: 0 1.2rem;
  border: 1px solid var(--text-muted);
  background-color: var(--background);
  border-radius: 5px;
  transition: all 0.3s;
  color: var(--text); }
  input[type='text']::placeholder {
    opacity: 1;
    color: var(--text-muted);
    font-style: italic; }
  input[type='text']:hover {
    border: 1px solid var(--text); }
  input[type='text']:focus {
    border: 1px solid var(--text); }
  input[type='text']:focus::placeholder {
    color: transparent; }

.checkbox {
  cursor: pointer;
  display: flex;
  gap: 0.4rem;
  align-items: center; }
  .checkbox .icon-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6rem;
    height: 1.6rem;
    color: var(--primary);
    border-radius: 3px;
    background-color: var(--light);
    transition: all 0.3s;
    font-size: 1rem; }
  .checkbox .icon-frame:hover {
    background-color: var(--lighter); }

li {
  list-style: none; }

.h-group {
  display: flex;
  gap: 0.8rem; }

.v-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem; }

.panel {
  padding: 2rem;
  border: 1px dashed var(--darker); }

.text-center {
  text-align: center; }

.center {
  justify-content: center;
  align-items: center; }

.fa-solid {
  font-size: 1.6rem;
  color: var(--primary); }

.terminal-list {
  padding: 2rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  border: 1px solid var(--darker);
  overflow-y: auto; }
  .terminal-list li {
    border-left: 5px solid var(--primary);
    display: inline-block;
    padding: 0 1rem; }
    .terminal-list li .log-cmd {
      font-style: italic;
      color: var(--primary); }

/*# sourceMappingURL=index.css.map */
